.login-page-container {
    display: flex;
    height: 100vh;
    flex-direction: row;
    overflow: hidden;
}

.left-side {
    flex: 1;
    background: url('/assets/welcome.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
    min-height: 100vh;
    overflow: hidden; 
}

.right-side {
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: normal;
    font-size: larger;
    background: linear-gradient(to top left, #09283e, #1c4964, #7eac8c);
    padding: 20px;
    min-height: 100vh;
    overflow-y: auto; 
}

.right-side h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
    text-align: center;
    color: #9abfa5;
}

.right-side span {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.right-side a {
    color: #007bff;
    text-decoration: none;
}

.right-side a:hover {
    text-decoration: underline;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #0f0f0f;
}

.form-group .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #7eac8c;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: transparent;
    color: #fff;
}

.form-group .form-control:focus {
    outline: 0;
    border-color: #7eac8c;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.invalid-feedback {
    color: #dc3545;
    font-size: 0.875em;
}

.form-check {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form-check-input {
    margin-right: 10px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background: #7eac8c;
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
}

.btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.toggle-password {
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 10px;
}

.password-input-container {
    position: relative;
}

@media (max-width: 770px) {
    .login-page-container {
        flex-direction: column;
        height: auto;
    }

    .left-side {
        height: 50vh;
    }

    .right-side {
        height: auto;
        overflow-y: auto; 
        padding: 20px;
    }

    .form-group .form-control {
        width: 100%;
    }

    .btn {
        width: 100%;
    }

    .toggle-password {
        right: 10px;
    }
}

@media (max-width: 576px) {
    .right-side h1 {
        font-size: 2em;
    }

    .right-side span {
        margin-left: 0;
    }
}