<div class="forgot-password-page-container">
    <div class="right-side">
      <div>
        <h2>Reset Password</h2>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" id="email" formControlName="user_email" placeholder="Enter your email" required class="form-control" autocomplete="off"/>
            <div *ngIf="resetPasswordForm.get('user_email')?.invalid && resetPasswordForm.get('user_email')?.touched" class="invalid-feedback">
              <small *ngIf="resetPasswordForm.get('user_email')?.errors?.['required']">Email is required</small>
              <small *ngIf="resetPasswordForm.get('user_email')?.errors?.['email']">Invalid email</small>
            </div>
          </div>
          <div class="form-group">
            <label for="newPassword">New Password</label>
            <div class="password-input-container">
              <input id="newPassword" formControlName="newPassword" [type]="hidePassword ? 'password' : 'text'" required class="form-control">
              <span class="toggle-password" (click)="newPasswordVisibility()">{{ hidePassword ? '👁' : '🙈' }}</span>
            </div>
            <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched" class="invalid-feedback">
              <small *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required']">Password is required</small>
              <small *ngIf="resetPasswordForm.get('newPassword')?.errors?.['minlength']">Minimum 6 characters</small>
            </div>
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <div class="password-input-container">
              <input id="confirmPassword" formControlName="confirmPassword" [type]="showpassord ? 'password' : 'text'" required class="form-control">
              <span class="toggle-password" (click)="passwordVisibility()">{{ showpassord ? '👁' : '🙈' }}</span>
            </div>
            <div *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched" class="invalid-feedback">
              <small *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['required']">Confirmation is required</small>
              <small *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['mustMatch']">Passwords must match</small>
            </div>
          </div>
          <div class="button-group">
              <button type="button" class="btn btn-secondary" (click)="goToBack()">Cancel</button>
            <button type="submit" class="btn btn-primary" [disabled]="resetPasswordForm.invalid">Reset Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>