.forgot-password-page-container {
  display: flex;
  height: 100vh;
}

.left-side {
  flex: 1;
  background: url('/assets/fp.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 20px;
}

.right-side {
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: normal;
  font-size: larger;
  background: url('/assets/login-bg.jpg') no-repeat center center;
}

.right-side h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
  text-align: center;
  color:#1c4964;
}

.right-side span {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.right-side a {
  color: #007bff;
  text-decoration: none;
}

.right-side a:hover {
  text-decoration: underline;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

.form-group .form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #1c4964;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: transparent;
  
}

.form-group .form-control:focus {
  outline: 0;
  border-color: #7eac8c;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.invalid-feedback {
  color: #dc3545;
  font-size: 100%;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-group .btn {
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1em;
}

.btn-primary {
  background-color: #7eac8c;
  color: white;
}

.btn-primary:disabled {
  opacity: 0.4;
  cursor:not-allowed !important;
}

.btn-secondary {
  background-color: #7eac8c;
  color: white;
}

.alert {
  margin-top: 20px;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
}

.alert-success {
  background-color: #28a745;
}

.alert-danger {
  background-color: #dc3545;
}

.toggle-password {
  position: absolute;
  right: -30px;
  top: 51%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 10px;
}

.password-input-container {
  position: relative;
}